@using Microsoft.AspNetCore.Mvc.Rendering
@model Bobbins.Frontend.Models.Comments.Comment

<div class="row">
    <div class="col-md-11 col-md-offset-1">
        <div class="panel panel-default">
            <div class="panel-body">
                @Model.Text
            </div>
            <div class="panel-footer">
                <span>
                    <a asp-controller="Comments" asp-action="UpVote" asp-route-id="@Model.Id" asp-route-linkId="@Model.LinkId" class="scriptable">
                        <span class="fa fa-arrow-up"></span>
                    </a>
                    <span class="up-vote-count">@Model.UpVoteCount</span>
                </span>
                /
                <span>
                    <a asp-controller="Comments" asp-action="DownVote" asp-route-id="@Model.Id" asp-route-linkId="@Model.LinkId" class="scriptable">
                        <span class="fa fa-arrow-down"></span>
                    </a>
                    <span class="down-vote-count">@Model.DownVoteCount</span>
                </span>
                from @Model.User at @Model.CreatedAt.ToString("s") :: @Model.ReplyCount replies
                <br>
                <a class="btn btn-xs btn-info" asp-controller="Comments" asp-action="View" asp-route-id="@Model.Id" asp-route-linkId="@Model.LinkId">Reply</a>
            </div>
        </div>
        @if (Model.Replies != null)
        {
            foreach (var reply in Model.Replies)
            {
                @Html.Partial("Comment", reply)
            }
        }
    </div>
</div>