@using Bobbins.Frontend.Models.Home
@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <h3>This Is Bobbins</h3>
</div>
<hr>
<div class="row">
    <a class="btn btn-primary btn-sm" asp-controller="Links" asp-action="CreateForm">Submit a new link...</a>
</div>
<hr>
@foreach (var link in Model.Links)
{
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4><a href="@link.Url">@link.Title</a></h4>
                </div>
                <div class="panel-footer">
                    <span class="fa fa-arrow-up"></span>@link.UpVoteCount / <span class="fa fa-arrow-down"></span>@link.DownVoteCount
                    submitted by @link.User at @link.CreatedAt.ToString("s") ::
                    <a asp-controller="Links" asp-action="View" asp-route-id="@link.Id">
                        @link.CommentCount comments
                    </a>
                </div>
            </div>
        </div>
    </div>
}