@using Bobbins.Frontend.Models.Home
@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <h3>This Is Bobbins</h3>
</div>
<hr>
<div class="row">
    <a class="btn btn-primary btn-sm" asp-controller="Links" asp-action="CreateForm">Submit a new link...</a>
</div>
<hr>
@foreach (var link in Model.Links)
{
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4><a href="@link.Url">@link.Title</a></h4>
                </div>
                <div class="panel-footer">
                    <span>
                        <a asp-controller="Links" asp-action="UpVote" asp-route-id="@link.Id" class="scriptable">
                            <span class="fa fa-arrow-up"></span>
                        </a>
                        <span class="up-vote-count">@link.UpVoteCount</span>
                    </span>
                    /
                    <span>
                        <a asp-controller="Links" asp-action="DownVote" asp-route-id="@link.Id" class="scriptable">
                            <span class="fa fa-arrow-down"></span>
                        </a>
                        <span class="down-vote-count">@link.DownVoteCount</span>
                    </span>
                    submitted by @link.User at @link.CreatedAt.ToString("s") ::
                    <a asp-controller="Links" asp-action="View" asp-route-id="@link.Id">
                        @link.CommentCount comments
                    </a>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts
{
    <script src="/js/scriptify.js"></script>
}